extends layout

block vars
    - var title = "About"

block content
    div.row
        div.span12
            h1= "About this site"

            p Fast soup-io is a node.js based replacement for soup.io.

            p.
                Fast node-io was a student project beginning 2013-05-15 and ending at 2013-05-22 during their node.js course in Computer Science (Bachelor) at the
                University of Applied Sciences Augsburg. It's goal was to get familiar with node.js.

            p This site was created with support of the following technologies:
            ul
                li.first
                    a(href='http://www.w3schools.com/html/html5_intro.asp') HTML5
                li
                    a(href='http://nodejs.org/') node.js
                li
                    a(href='http://expressjs.com/') express
                li
                    a(href='https://github.com/ctavan/express-validator') express-validator
                li
                    a(href='https://github.com/ncb000gt/node.bcrypt.js/') bcrypt
                li
                    a(href='https://github.com/eleith/emailjs') emailjs
                li
                    a(href='https://github.com/aheckmann/gridfs-stream') gridfs-stream
                li
                    a(href='http://mongoosejs.com/') mongoose
                li
                    a(href='https://github.com/kriskowal/q') q
                li
                    a(href='http://jade-lang.com/') jade
                li
                    a(href='http://www.mongodb.org/') MongoDB
                li.last
                    a(href='http://twitter.github.io/bootstrap/') Twitter Bootstrap

            p The following people were involved: Abwandner Sebastian, Beham Michael, Reitböck Roland, Schmid Pascal
