doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        style
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
    body
        block content

        script( src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script
            window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')
        script( src="/js/vendor/bootstrap.min.js")
        script( src="/js/main.js")