doctype 5
//if lt IE 7
    html(class="no-js lt-ie9 lt-ie8 lt-ie7")
//if IE 7
    html(class="no-js lt-ie9 lt-ie8")
//if IE 8
    html(class="no-js lt-ie9")
//if gt IE 8
    html(class="no-js")

html
    head
        meta(charset="utf-8")
        meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta( name="description", content="")
        meta( name="viewport", content="width=device-width")
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        style
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                margin-left: 10px;
            }
        link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
    body

        include nav

        //if lt IE 7
            p.chromeframe You are using an outdated browser. Please
                a( href="http://browsehappy.com/")
                    upgrade your browser or
                a( href="http://www.google.com/chromeframe/?redirect=true")
                    activate Google Chrome Frame
                to improve your experience.

        div.container
            - var info = req.flash('info')
            - if(info.length != 0) {
                - info.forEach(function(info) {
                    div.alert.alert-info
                        button.close(type='button', data-dismiss='alert')&times;
                        p= info
                - });
            - }
            - var error = req.flash('error')
            - if(error.length != 0) {
                - error.forEach(function(error) {
                    div.alert.alert-error
                        button.close(type='button', data-dismiss='alert')&times;
                        p= error
                - });
            - }
            block content

        script( src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script
            window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')
        script( src="/js/vendor/bootstrap.min.js")
        script( src="/js/main.js")