block nav
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container
                a.btn.btn-navbar( data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand( href="#") fast-node-io
                div.nav-collapse.collapse
                    ul.nav
                        li.active
                            a(href="#") Home
                        li
                            a(href="/about") About
                        li
                            a(href="#contact") Contact
                div.nav-collapse.collapse
                    ul.nav.pull-right
                        li
                            form.navbar-form
                            input( type="text", name="mail", placeholder="Email")
                            input( type="password",name="password", placeholder="Password")
                            button.btn.btn-navbar( type="submit") Sign in
                        li
                            button.btn.btn-navbar Register

