block nav
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container
                a.btn.btn-navbar( data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand( href="/") fast-node-io
                div.nav-collapse.collapse
                    ul.nav
                        li.active
                            a(href="/") Home
                        li
                            a(href="/about") About

                    if session.user
                        ul.nav.pull-right
                            li
                                div.btn-group
                                    a.btn.dropdown-toggle(href="#",data-toggle="dropdown") My Profile &nbsp;
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            //
                                                a(href="#", onclick="$('#uploadPicture').show()") Upload picture
                                                a.dropdown-menu.pull-right(id='uploadPicture', href='#',data-toggle='dropdown2').hidden
                                                    input.typeahead
                                                        form(method="POST", enctype="multipart/form-data", action="/upload")
                                                        input(type="file", name="image")
                                                        input(type="submit")
                                            a(href="/upload") Upload Picture
                                        li
                                            a(href="/profile") My Profile
                                        li.divider
                                        li
                                            a(href="/logout") Logout
                    else
                        ul.nav.pull-right
                            li
                                form.navbar-form(action="/login", method="POST")
                                    input.span2( type="text", name="mail", placeholder="Email")
                                    input.span2( type="password",name="password", placeholder="Password")
                                    button.btn( type="submit") Sign in
                                    a.btn(href="/register") Register


