extends layout
block content
    div.row
        div.span4
        div.span7

            form.form-horizontal(method="POST", action="/register")
                div.control-group

                lable.control-label Email:
                div.controls
                    input(type="text", name="mail", placeholder="Email", value=user)
                lable.control-label Password:
                div.controls
                    input(type="password", name="pwd", placeholder="Password", value=pwd)

                div.row
                    div.span3
                        button.btn Register







