extends layout
block content
    include nav

    div
        form.form-horizontal(method="POST", action="/register")
            div.control-group
                lable.control-label Email:
                div.controls
                    input(type="text", name="mail")
                lable.control-label Password:
                div.controls
                    input(type="password", name="pwd")
            button.btn submit