extends layout
block content
    include nav

    div.row
        div.span4
        div.span7
            form.form-horizontal(method="POST", action="/register")
                div.control-group
                    lable.control-label Email:
                    div.controls
                        - if(user)
                            input(type="text", name="mail", placeholder="Email", value=user, isDisabled)
                        - else
                            input(type="text", name="mail", placeholder="Email")

                    lable.control-label Password:
                    div.controls
                        - if(pwd)
                            input(type="password", name="pwd", placeholder="Password", value=pwd, isDisabled)
                        - else
                            input(type="password", name="pwd", placeholder="Password")

                    - if (errorInfo)
                        br
                        div.span5.alert.alert-error
                            label()= errorInfo

                - if(isDisabled == "disabled")
                    a.btn(href='/') Back to start page
                - else
                    button.btn Register
