extends layout
block content
    div.container
        div.row
            div.span12
                h3 Upload
                form.form-horizontal(method="post", enctype="multipart/form-data", action="/upload" )
                    div.control-group
                        label.control-label File to upload
                        div.controls
                            input(type="file", name="image")
                            input.btn(type="submit", value="Upload")
